* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Cabin", sans-serif;
  font-size: 1.6rem;
  color: white;
  background-image: url("../../assets/background.jpg");
  background-color: brown;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 800px) {
  body {
    height: 100vh;
  }
}
header {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

header ul {
  visibility: hidden;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
header ul li a {
  margin-right: 40px;
  font-size: 2rem;
  font-weight: bold;
  opacity: 0.8;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
header ul li a:hover {
  opacity: 1;
}

@media (min-width: 600px) {
  header ul {
    visibility: initial;
  }
}
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "title" "types" "contact";
  background-color: rgba(0, 0, 0, 0.2);
}

section {
  text-align: center;
  justify-content: center;
  align-items: center;
}
section p {
  line-height: 2.2rem;
}

.description {
  background-color: rgba(255, 255, 255, 0.2);
  grid-area: title;
  padding: 40px;
}
.description h1 {
  margin-bottom: 20px;
}
.description img {
  width: 90%;
}

.masages {
  grid-area: types;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  padding-top: 40px;
}
.masages p {
  max-width: 300px;
}

.contact {
  grid-area: contact;
  margin: 30px 0;
}

h2 {
  cursor: pointer;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.8;
}
h2:hover {
  opacity: 1;
}

.masages__card {
  display: none;
  padding: 40px;
  padding-top: 0;
}
.masages__card p:nth-of-type(1) {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

@media (min-width: 800px) {
  .masages {
    align-items: flex-start;
    text-align: start;
    justify-content: space-around;
  }

  .contact {
    margin: 0;
    align-items: flex-end;
    text-align: end;
    padding: 40px;
  }

  h2 {
    margin: 0;
  }

  main {
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "types types title" "contact contact title";
  }
}