$transparent-background-color: rgba(#000000, 0.2);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Cabin', sans-serif;
  font-size: 1.6rem;
  color: white;
  background-image: url("../../assets/background.jpg");
  background-color: brown;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width:800px) {
  body {
    height: 100vh;
  }
}